.w3_search input[type="text"]
{
  border-radius: 25px
}

#movie-row-container
{
  height: 320px
}

.hvr-shutter-out-horizontal:before
{
  content: "\21F2";
  font-size: 2em;
  padding: 67% 43%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.4)
}

.homepage-poster
{
  min-height: 240px !important;
  max-height: 240px !;
  max-width: 160px
}

.mov-det-votes tr th,
.mov-det-votes tr td
{
  padding: 7px 20px 0 0
}

.nav-link { color: black !important }
.nav-link.active,
.nav-link:hover
{
  background-color: #FF8D1B !important;
  color: white !important
}

#some-extras
{
  margin-top: 40px
}

.purchase-btn-container
{
  position: absolute;
  margin: -20px 0 0 33px
}
#no-login-purchase-disabled
{
  margin: 5px 0 0 -24px
}

.movie-preview-container
{
  margin-top: 40px;
  width: 100%;
  text-align: center
}

.movie-preview
{
  display: inline-block;
  margin: 5px 0 0 0
}

.agileits_w3layouts_mid_1_home { width: 160px }
@media (max-width: 414px)
{
  .agile_mid_2_home
  {
    width: 100%
  }
}
.w3l-movie-text h6
{
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis
}

@media (max-width: 414px)
{
  /* .agileits_w3layouts_mid_1_home
  {
    width: 70%
  } */
  #movie-row-container
  {
    height: 320px;
    margin: 0 0 50px 20vw
  }  
}