.w3_search input[type="text"]
{
  border-radius: 25px
}

#movie-row-container
{
  height: 320px
}

.mov-det-votes tr th,
.mov-det-votes tr td
{
  padding: 7px 20px 0 0
}

.nav-link { color: black !important }
.nav-link.active,
.nav-link:hover
{
  background-color: #FF8D1B !important;
  color: white !important
}

.movie-preview-container
{
  margin-top: 40px;
  width: 100%;
  text-align: center
}

.movie-preview
{
  display: inline-block;
  margin: 5px 0 0 0
}

@media (max-width: 414px)
{
  .agileits_w3layouts_mid_1_home
  {
    width: 70%
  }
  #movie-row-container
  {
    height: 320px;
    margin: 0 0 50px 20vw
  }  
}

.w3l-movie-text h6
{
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis
}